body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.botones {
  margin-bottom: 20px;
}

#contenedor-gatos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.gato {
  font-size: 2rem;
}

.caja {
  display: flex;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 5px;
}
